@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotothin.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotothin.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotothin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotothinitalic.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotothinitalic.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotothinitalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotolight.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotolight.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotolight.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotolightitalic.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotolightitalic.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotolightitalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/roboto.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/roboto.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/roboto.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoitalic.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoitalic.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoitalic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotomedium.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotomedium.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotomedium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotomediumitalic.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotomediumitalic.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotomediumitalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotobold.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotobold.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotobold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotobolditalic.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotobolditalic.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotobolditalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoblack.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoblack.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoblack.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoblackitalic.woff2") format('woff2'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoblackitalic.woff") format('woff'), url("urn:scrapbook:download:error:https://hzycso.com/baihuzi/static/robotoblackitalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}
